In [ ]:
a=[123,456,789]
b={
    "name":"Jeff",
    "age":18,
    "gender":"M"
}

In [66]:
# name=[1,2,3,4]
# print(name[0])
# print(name[1])

# for n in name:
#     print(n)
    
    
# name=["******","*****","****","***","**","*"]
# for a in name:
#     print(a)
    
    
times=[1,1,1,1,1,1]

cnt=7
# for b in times:
#     cnt=(cnt-b)
#     print(cnt*"*")
    
for b in times:
    cnt-=b
    print(cnt)
print(cnt)

6
5
4
3
2
1
1

In [21]:
range(0,100,1)
range(0,100)
print(list(range(0,100)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [22]:
n=100
range(0,n+1)
range(n+1)
print("sum :", sum(range(n+1)))

sum : 5050

In [27]:
n=100
range(0,n+1)
cnt=0
for c in range(n+1):
    cnt+=c
print("SUM:",cnt)


n=100
nums=range(0,n+1)
cnt=0
for c in nums:
    cnt+=c
print("SUM:",cnt)

SUM: 5050
SUM: 5050

In [8]:
"迭代"

words="this is a book."
for w in words:
    print(w*5)

ttttt
hhhhh
iiiii
sssss

iiiii
sssss

aaaaa

bbbbb
ooooo
ooooo
kkkkk
.....

In [30]:
record={
    "name":"Jeff",
    "age":18,
    "gender":"M"
}

for key in record:
    print(key)

name
age
gender

In [57]:
word4="J"
num5=[]
sum5=6
for i in num5:
    sum5-=i
for j in word4:
    Z=1
print(sum5*j)


word3="Ja"
num4=[1]
sum4=5
for i in num4:
    sum4-=i
for j in word3:
    Z=1
print(sum4*j)

word2="Jac"
num3=[1,1]
sum3=5
for i in num3:
    sum3-=i
for j in word2:
    Z=1
print(sum3*j)


word1="Jack"
num1=[1,1,1]
sum1=5
for i in num1:
    sum1-=i
for j in word1:
    Z=1
print(sum1*j)   
        
    
word="Jack!"
num2=[1,1,1,1]
sum2=5
for h in num2:
    sum2-=h
for g in word:
    Z=1
print(sum2*g)

JJJJJJ
aaaa
ccc
kk
!

In [70]:
word="Jack!"
list1=[1,1,1,1,1]
sum6=6
for x in list1:
    sum6-=x
    print(sum6)
for w in word:
   

    print(w*sum6)

5
4
3
2
1
J
a
c
k
!