In [ ]:
三門練習ㄖ

In [125]:
import random
win = 0
lose = 0

for a in range(10000):
    doors = ["sheep"] * 2

    car = random.randint(0,2)
    doors.insert(car,"car")
    player = random.randint(0,2)
    del doors[player]
    doors.remove("sheep")
    if doors[0] == "car":
        win+= 1
    else:
        lose+= 1
ttl = win + lose    
print("final choice: ", doors[0])
print("win:", win/ttl, "%")
print("lose:", lose/ttl, "%")

final choice:  car
win: 0.6685 %
lose: 0.3315 %

In [136]:
i = 65
while i <=90:
    print(chr(i), end= '')
#     print(chr(i))
    i+=1

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [137]:
for i in range(65,91):
    print(chr(i), end="")

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [139]:
for i in range(1,10):
    print(i, end="")   
for i in range(1,9,2):
    print(i, end="")

12345678921357

In [140]:
i = 9
while i>=1:
    print(i, end="")
    i-=2

97531

In [152]:
ttl = 0
for i in range(1,101):
    ttl=ttl+i
print(ttl)
print("Total = %d"%(ttl))

5050
Total = 5050

In [153]:
# 大樂透選號
for i in range(6):
    number = random.randint(1,49)
    print(number)

13
46
1
1
48
34

In [157]:
for i in range(1,10):
    for j in range(1,10):
        print("%3d"%(i*j), end="")
    print()

  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81

In [158]:
Sum = 0
for i in range(0,101,2):
    Sum+=i
    
print("sum = %d"%(Sum))

sum = 2550

In [164]:
import random
print("part1")
for i in range(1,7):
    lotto = random.randint(1,38)
    
    print("%4d"%(lotto), end="")
print()         
print("part2")
          
lotto2 = random.randint(1,8)
print("%4d"%(lotto2))

part1
  38  16  10  10  19  31
part2
   5

In [167]:
for i in range(1,10):
    for j in range(1,10):
        print("%2d*%d=%2d"%(i,j,i*j), end="")
    print()

 1*1= 1 1*2= 2 1*3= 3 1*4= 4 1*5= 5 1*6= 6 1*7= 7 1*8= 8 1*9= 9
 2*1= 2 2*2= 4 2*3= 6 2*4= 8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
 3*1= 3 3*2= 6 3*3= 9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
 4*1= 4 4*2= 8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
 5*1= 5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
 6*1= 6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
 7*1= 7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
 8*1= 8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
 9*1= 9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [169]:

result=1
for i in range(1,51):
    result=result*i
    
print(result)

30414093201713378043612608166064768844377641568960512000000000000

In [194]:
for i in range(1,10):
    print(" "*int((9-i)/2),end="")
    for j in range(1,i+1):
        print( i, end="")
    print()

    1
   22
   333
  4444
  55555
 666666
 7777777
88888888
999999999

In [197]:
i=0
sum=0
while i<101:
    sum+=i
    i = i +2
    
print("sum = %d"%(sum))

sum = 2550

In [201]:
SUM = 0
for i in range(0,101,5):
    SUM+=i
print("sum = %d"%(SUM))

sum = 1050

In [214]:
num=[1,1,1,1,1,1]
sum=7
for i in num:
    sum-=i
    print("*"*sum)

******
*****
****
***
**
*

In [215]:
for i in range(1,51):
    number = random.randint(1,49)
    print("%3d"%(number), end="")

 28 31 49 31 17 34  4  5 13 27 13 12 44 34 38 24 18 14 46  7 36 37 16 42 13  1 12 27 34 27 30 42 37 49 27  5  2 36  1 38  7 25 47 16 15 29 48 40 21 25